body {
	background:hsl(113, 33%, 50%) ;

}

.deal {
	border-radius: 100px;
	
	width:100px;
	height:100px;
	border: solid 1px white;
}

.hit {
	border-radius: 100px;
	
	width:100px;
	height:100px;
	border: solid 1px white;
}
.stand {
	border-radius: 100px;
	
	width:100px;
	height:100px;
	border: solid 1px white;
}
